$color-brand: #d17;
$color-page-background: #faffff;
$color-content-background: #eff;
$color-text: #344;
$color-headline: #233;
$color-link: #05a;//#08c;//#d17;
$color-link-hover: #233;
$color-link-visited: #63b; //#85d;
$color-link-active: #f60;