$break-point: 70em;
html {
    font-family: $font-family-body-system;
    height: 100%;
    color: $color-text;
    font-size: 18px;
    line-height: 1.5em;
    background-color: #eff;
    @media (min-width: $break-point){
        background-color: $color-page-background;
    }
    &.lang-ta {
        font-size: 16px;
    }
} 

body {
    font-size: calc(1em + .2vw);
    line-height: calc(1.5em + .2vw);
    margin: 0;
    .lang-ta &{
        line-height: calc(1.8em + .2vw);
    }
}



h1 {
    font-size: calc(2em + 3vw);
    line-height: 1.2;
    font-weight: lighter;
    word-wrap: break-word;
    letter-spacing: -0.02em;
    margin: 0;
    color: #000;
    @media (min-width: $break-point){
        font-size: calc(2.6em + 3vw);
    }
    .lang-ta &{
        font-size: calc(1.5em + 3vw);
    }
}

h2 {
    font-size: calc(1.6em + 1vw);
    font-weight: 500;
    margin: 1.7em 0 .75em;
    color: #122;
    .lang-ta &{
        font-size: calc(1.2em + 3vw);
    }
}

h3 {
    font-size: calc(1em + .5vw);
    text-transform: uppercase;
    margin: 2em 0 .6em;
}

p {
    margin: calc(1em + .2vw) 0;
}

p,ul,ol {
    font-weight: 300;
    letter-spacing: .02em;
    word-spacing: .02em;
}

a {
    color: $color-link;
    text-decoration: underline;
    &:hover{
        color: $color-link-hover;
        cursor: pointer;
        text-decoration: none;
    }
    &:active {
        color: $color-link-active;
    }
    &:visited {
        color: $color-link-visited;
    }
}


em {
    font-family: serif;
}

blockquote {
    font-family: serif;
    font-style: italic;
    font-weight: 600;
    padding-left: 15px; 
    border-left: 5px solid black;
    margin: 0;
    @media (min-width: $break-point){
        margin: 2em 1em;
    }
}

pre {
    word-wrap: break-word;
    overflow: auto;
    max-width: 100%;
}

img {
    width: 100%;
}