html {
    font-family: $font-family-body-system;
    height: 100%;
    background-color: $color-page-background;
    color: $color-text;
    font-size: 18px;
    line-height: 1.5em;
} 

body {
    font-size: calc(1em + .2vw);
    line-height: calc(1.5em + .2vw);
    margin: 0;
}



h1 {
    font-size: calc(2.6em + 3vw);
    line-height: 1.2;
    font-weight: lighter;
    word-wrap: break-word;
    letter-spacing: -0.02em;
    margin: 0;
    color: #000;
}

h2 {
    font-size: calc(1.6em + 2vw);
    font-weight: 500;
    margin: 1.7em 0 .75em;
    color: #122;
}

h3 {
    font-size: calc(1em + 1vw);
    text-transform: uppercase;
    margin: 2em 0 .6em;
}

p {
    margin: calc(1em + .2vw) 0;
}

p,ul,ol {
    font-weight: 300;
    letter-spacing: .02em;
    word-spacing: .02em;
}

a {
    color: $color-link;
    text-decoration: underline;
    &:hover{
        color: $color-link-hover;
        cursor: pointer;
        text-decoration: none;
    }
    &:active {
        color: $color-link-active;
    }
    &:visited {
        color: $color-link-visited;
    }
}


em {
    font-family: serif;
}

blockquote {
    font-family: serif;
    font-style: italic;
    font-weight: 600;
}

strong {
    font-weight: 500;
}