
.c-article-subtitle { &#{&}{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    font-style: italic;
    max-width: 85%;
    margin: 2em auto;
}}

.c-article-meta { &#{&} {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    color: #455;
}}

