.o-site-header{

    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    ul {
        padding: 0;
        display: flex;
        list-style: none;
        min-width: 12em;
        justify-content: space-around;
    }

    @media (min-width:$break-point) {
        flex-direction: row;
    }
}

.c-site-logo{
    display: inline-flex;

    h2{
        margin: auto;
    }
}