{{ define "main"}}
  <article role="main">
    <!--a href="{{ .CurrentSection.RelPermalink }}">{{ .CurrentSection.Name}} </a-->
    {{ partial "categories.html" . }}
    {{ partial "article_header.html" . }}
    <p class='c-article-subtitle'>{{ .Description }}</p>
    <div class='featured'><img src="{{ .Params.featured_image }}"></div>
    {{ if .Params.toc }}
      <div class='toc'>
        <h3>{{ print (i18n "toc") ":" }}</h3>
        {{ .TableOfContents }}
      </div>
    {{ end }}
    {{ .Content }}
    {{ partial "article_footer.html" . }}
    {{ partial "related.html" . }}
  </article>
{{ end }}
