<header class='o-article-header'>
    <h1>{{ .Title }}</h1>
    <ul class="c-article-meta">
        <li><time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
        {{ if and (eq .Lang "ta") ($.Site.Data.month) }}
            {{ i18n "published"}}: {{ .Date.Day }} {{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }} 
        {{ else }}
            {{ i18n "published" }}: {{ .Date.Format "2 Jan, 2006" }}
        {{ end }}
          </time></li>
        <li class="c-meta-length"> {{ .ReadingTime }} {{ i18n "readingtime" }} </li>
        <li>
        {{ if .IsTranslated }}
            {{ range .Translations }}
            <a href="{{ .Permalink }}">
                {{ if eq .Lang "ta" }}
                {{ "தமிழில் வாசிக்க "}}
                {{ else }}
                {{ "Read in English" }}
                {{ end }}
            </a>
            {{ end}}
        {{ end }}
        </li>
    </ul>
</header>    