<script type="application/ld+json">
    { 
        "@context": "http://schema.org",
        {{ if .IsHome }}
            "@type":"WebSite",
            "url": "{{- $.Site.BaseURL -}}",
            "keywords": "Vijayabharathi,Books,Articles,Memoirs,Tamil",
            "image": "{{- $.Site.BaseURL -}}images/site_logo.png",            
            "author":{
                "@type":"Person",
                "name": "Vijayabharathi Balasubramanian"
            },
            "sameAs": [ "https://www.twitter.com/vijayabharathib/" ]   
        {{ else if eq .Section "author" }}
            "@type": "Person",
            "name": "Vijayabharathi Balasubramanian",
            "sameAs": [
                "https://www.linkedin.com/in/vijayabharathib/",
                "https://www.twitter.com/vijayabharathib/",
                "https://www.github.com/vijayabharathib",
                "https://medium.com/@vijayabharathib"
            ]
        {{ else }}
            "@type": "BlogPosting",
            "about": "{{- .Params.subtitle -}}",
            "wordCount": {{- .FuzzyWordCount -}},
            "datePublished": "{{- .PublishDate -}}",
            "dateModified": "{{- .PublishDate -}}",
            "mainEntityOfPage":{
                "@type":"WebPage",
                "@id": "{{- .Permalink -}}"
            },
            "publisher":{
                "@type":"Organization",
                "name":"vijayabharathi.in",
                "url":"{{- $.Site.BaseURL -}}",
                "logo":{
                    "@type":"ImageObject",
                    "url":"{{- $.Site.BaseURL -}}images/site_logo.png"
                }
            },
            "author": {
                "@type":"Person"
                ,"name":"Vijayabharathi Balasubramanian"
            }
            {{- with .Title | default .Site.Title }}
            ,"headline": "{{ . }}"
            {{- end }}
        {{ end }}
        {{ if isset .Params "featured_image" }}
            ,"image": "{{ .Params.featured_image | absURL }}"
        {{ end }}
}
</script>