<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ if .IsTranslated }}
  {{ range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
{{ end }}
  <!-- Site Title, Description -->

<title>{{ print .Title " | " $.Site.Title " ☬ " $.Site.Params.Subtitle }}</title>

{{- with  .Description | default .Params.Subtitle | default .Site.Params.Subtitle |  default .Summary }}
<meta name="description" content="{{ . }}">
{{- end }}

    {{ if .Site.IsServer }}
        {{ $cssOpts := (dict "targetPath" "styles/main.css" "enableSourceMap" true ) }}
        {{ $styles := resources.Get "scss/main.scss" | toCSS $cssOpts | postCSS | fingerprint }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
    {{ else }}
        {{ $cssOpts := (dict "targetPath" "styles/main.css" ) }}
        {{ $styles := resources.Get "scss/main.scss" | toCSS $cssOpts | postCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen" crossorigin='anonymous'>
    {{ end }}
    
</head>