{{ if .Site.IsServer }}
    {{ $cssOpts := (dict "targetPath" "styles/main.css" "enableSourceMap" true ) }}
    {{ $styles := resources.Get "scss/main.scss" | toCSS $cssOpts | postCSS | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
{{ else }}
    {{ $cssOpts := (dict "targetPath" "styles/main.css" ) }}
    {{ $styles := resources.Get "scss/main.scss" | toCSS $cssOpts | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen" crossorigin='anonymous'>
{{ end }}