<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Site Title, Description -->
{{ if .IsHome }}
<title>{{ print "Home" " | " $.Site.Title " ⛵ " $.Site.Params.Subtitle }}</title>
{{ else }}
<title>{{ print .Title " | " $.Site.Title " ⛵ " $.Site.Params.Subtitle }}</title>
{{- end -}}
{{- with  .Description | default .Params.Subtitle | default .Site.Params.Subtitle |  default .Summary }}
<meta name="description" content="{{ . }}">
{{- end }}

    {{ if .Site.IsServer }}
        {{ $cssOpts := (dict "targetPath" "styles/main.css" "enableSourceMap" true ) }}
        {{ $styles := resources.Get "scss/main.scss" | toCSS $cssOpts | postCSS | fingerprint }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
    {{ else }}
        {{ $cssOpts := (dict "targetPath" "styles/main.css" ) }}
        {{ $styles := resources.Get "scss/main.scss" | toCSS $cssOpts | postCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
    {{ end }}
    
</head>