<header class="o-site-header" role="banner">
    <div class="c-site-logo">
        {{ if eq .Lang "ta" }}      
        <h2><a href="/">{{ $.Site.Params.Brand }}</a></h2>
        {{ else }}
        <h2><a href="/en/">{{ $.Site.Params.Brand }}</a></h2>      
        {{ end }}
    </div>
    <nav class="c-site-nav">
      <ul class="c-nav-list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <li class="c-nav-item">
            <a class='{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}' href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
          </li>
        {{ end }}
        {{ if eq .Lang "ta" }}
            <li class="c-nav-item"><a href="/en/">English</a></li>
        {{ else }}
            <li class="c-nav-item"><a href="/ta/">தமிழ்</a></li>
        {{ end }}
      </ul>
    </nav>
</header>
