<header class="o-site-header" role="banner">
    <div class="c-site-logo">
      <h2>{{ $.Site.Params.Brand }}</h2>
    </div>
    <nav class="c-site-nav">
      <ul class="c-nav-list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <li class="c-nav-item">
            <a class='{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}' href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>
</header>
