{{ if .IsPage }}
<div class="social_sharing">
  <h3>{{- i18n "share-article" -}}</h3>
  <ul>
  <!-- Sharingbutton Facebook -->
  <li><a class="sharing__link" rel="noopener" href="https://facebook.com/sharer/sharer.php?u={{- .Permalink -}}" target="_blank" aria-label="">{{- i18n "facebook-post" -}}</a></li>

  <!-- Sharingbutton Twitter -->
  <li><a class="sharing__link" rel="noopener" href="https://twitter.com/intent/tweet/?text={{- .Params.Subtitle -}}&amp;url={{- .Permalink -}}&amp;via=vijayabharathib"
    target="_blank" aria-label="">{{- i18n "twitter-post" -}}</a></li>
  <!-- Sharingbutton Google+ -->
  <li><a class="sharing__link" rel="noopener" href="https://plus.google.com/share?url={{- .Permalink -}}"
    target="_blank" aria-label="">{{- i18n "google-post" -}}</a></li></ul>
</div>
{{ end }}
